@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<br />
<br />
<img class="logo" src="~/Content/img/logo.png">
<form action="#">
    <div class="fb-login-button" data-max-rows="1" data-size="xlarge" data-show-faces="false" data-auto-logout-link="false"></div>
    <div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <br />
    <p>Or</p>
    <p><input type="text" placeholder="Email address" /></p>
    <p><input type="text" placeholder="Password" /></p>
    <br/>
    <div class="btn-group" role="group" aria-label="...">
        <a href="@Url.Action("Zipcode","Home")" class="btn btn-default" data-transition="slide">Sign In</a>
        <button type="button" class="btn btn-default">Sign Up</button>
    </div>
</form>