<style>
    .nav2 {
  margin-top: 50px;
      background-color: #EB581A;
}
</style>
<div id="fb-root"></div>
<script>
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.5&appId=297276526958905";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
<nav class="navbar navbar-default navbar-fixed-top nav2">
    <div class="container-fluid">
        <table width="100%">
            <tr>
                <td width="20%" align="center">
                    <div class="fb-share-button" data-href="https://developers.facebook.com/docs/plugins/" data-layout="link"><img src="~/Content/img/share.png" /></div>
                </td>
                <td width="20%" align="center">
                    <a href="mailto:someone@yoursite.com?cc=someoneelse@theirsite.com, another@thatsite.com, me@mysite.com&bcc=lastperson@theirsite.com&subject=Big%20News&body=Body-goes-here"><img src="~/Content/img/email.png" /></a>
                </td>
                <td width="20%" align="center">
                    <a href="http://action.votesolar.org/page/s/don-t-let-the-sun-set-on-massachusetts-solar" width="200px"><img src="~/Content/img/petition.png" /</a>
                </td>
                <td width="20%" align="center">
                    <a href="tel:6178031411"><img src="~/Content/img/call.png" /></a>
                </td>
                <td width="20%" align="center">
                    <a href="http://www.google.com/calendar/event?action=TEMPLATE&text=Demonstration%20Solar%20Energy&dates=20131124T010000Z/20131124T020000Z&details=Event%20Details%20Here&location=123%20Main%20St%2C%20Example%2C%20MA"><img src="~/Content/img/event.png" /></a>
                </td>
            </tr>
        </table>
    </div>
</nav>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="list-group">
        <button class="list-group-item" href="@Url.Action("Action","Home")" data-transition="slide">
                <img src="~/Content/img/solar1.jpg" width="20%" height="20%" />
                <h3 class="list-group-item-heading">Solar in Massachusetts</h3><br />
                <h4 class="list-group-item-heading">Summary</h4>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever
                    since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only
                    five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
                    release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker
                    including versions of Lorem Ipsum.
                </p><br />
            
           
                <h4 class="list-group-item-heading">Active Bills</h4>
                <p><a href="@Url.Action("Bill","Home")">H.3854</a> An act providing for the establishment of comprehensive adaptation management plan in response to climate change</p>
                <p><a href="">H.3724</a> An act relative to a long-term sustainable solar industry</p>
                <br />
                <h4 class="list-group-item-heading">Read More</h4>
            <p>From <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.bostonglobe.com%2Fbusiness%2F2016%2F02%2F09%2Fmajor-solar-incentive-runs-out-mass-surprising-many-industry%2Fw3Uskmamtp3Oky3nCJJuFL%2Fstory.html&sa=D&sntz=1&usg=AFQjCNHGqLXORL4RFSs-PoExKIaJrxwqFQ">Boston Globe</a></p>
            <p>From <a href="http://www.google.com/url?q=http%3A%2F%2Fmedford.wickedlocal.com%2Farticle%2F20160128%2FNEWS%2F160127066&sa=D&sntz=1&usg=AFQjCNH0191mjqx2io7Cs86Zq47X3JwR5A"> Wicked Local</a></p>
            <p>From <a href="http://www.google.com/url?q=http%3A%2F%2Fusgbcma.org%2Fnet-metering-updates&sa=D&sntz=1&usg=AFQjCNGrXctpMabokjHkyXZlXEIdKkgA-Q"> US Green Building Council MA Chapter</a></p>
            <p>From <a href="http://solarisworking.org/blog/a-primer-on-solar-energy-and-policy-in-massachusetts"> MassSolar</a></p>        
        </button>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
            <table width="100%">
                <tr>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/settings.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="@Url.Action("Article","Home")"><img src="~/Content/img/home.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/profile.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/notification.png" /></a></td>
                </tr>
            </table>
    </div>
</nav>