<style>
    .nav2 {
  margin-top: 50px;
}
</style>
<nav class="navbar navbar-default navbar-fixed-top nav2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
</nav>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="list-group">
        <a class="list-group-item" href="@Url.Action("Action","Home")" data-transition="slide">
            <img src="~/Content/img/solar1.jpg" width="20%" height="20%"/>
            <h4 class="list-group-item-heading">Local Agriculture</h4>
            <p>The Boston Globe</p>
        </a>
    </div>
    <div class="list-group">
        <a class="list-group-item" href="@Url.Action("Action","Home")" data-transition="slide">
            <img src="~/Content/img/solar1.jpg" width="20%" height="20%" />
            <h4 class="list-group-item-heading">Local Agriculture</h4>
            <p>The Boston Globe</p>
        </a>
    </div>
    <div class="list-group">
        <a class="list-group-item" href="@Url.Action("Action","Home")" data-transition="slide">
            <img src="~/Content/img/solar1.jpg" width="20%" height="20%" />
            <h4 class="list-group-item-heading">Local Agriculture</h4>
            <p>The Boston Globe</p>
        </a>
    </div>
</div>
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
            <table width="100%">
                <tr>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/settings.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/home.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/profile.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/notification.png" /></a></td>
                </tr>
            </table>
    </div>
</nav>