<style>
    .nav2 {
  margin-top: 50px;
}
</style>
<nav class="navbar navbar-default navbar-fixed-top nav2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
        </div>
    </div>
</nav>
<br />
<br />
<br />
<br />
<br />
<br />
<div class="container">
    <div class="list-group">
        <button class="list-group-item" href="" data-transition="slide">
            <h3 class="list-group-item-heading">H.3854</h3>
            <h3 class="list-group-item-heading">An act providing for the establishment of comprehensive adaptation management plan in response to climate change</h3><br />
            <p>This bill does the following:</p>
            <ol>
                <li>Raises the public and private net metering caps a mere 2% each</li>
                <li>Preserves the current system until the state hits 1600MW and allows existing projects to stay in their current program for 20 years</li>
                <li>Post 1600MW, retains the current net metering rate for resident and small commercial projects, and decreases the rate to the wholesale service rate for all other projects (A decrease of about 70%)</li>
                <li>Creates a new solar incentive program</li>
                <li>Includes a minimum bill proposal for all solar customers post 1600MW</li>
            </ol>
        </button>
        <br />
        <button class="list-group-item" href="tel:6178031411">Call Your Legislator</button>
        <br />
        <button class="list-group-item" href="mailto:someone@yoursite.com?cc=someoneelse@theirsite.com, another@thatsite.com, me@mysite.com&bcc=lastperson@theirsite.com&subject=Big%20News&body=Body-goes-here">
        Email Your Legislator</button>
        <br />
        <button class="list-group-item" href="http://action.votesolar.org/page/s/don-t-let-the-sun-set-on-massachusetts-solar">
            Sign a Petition
        </button>
    </div>
</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
            <table width="100%">
                <tr>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/settings.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/home.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/profile.png" /></a></td>
                    <td width="25%" align="center">
                        <a class="page-scroll" href="#"><img src="~/Content/img/notification.png" /></a></td>
                </tr>
            </table>
    </div>
</nav>